Repository fepack/image, changes with the labels that .github/labeler.yml gives for each.
All labels: @fepack/image, @fepack/react-image, documentation, eslint, tsconfig, dependencies, github

.github/labeler.yml:

"@fepack/image":
  - packages/image/**/*
"@fepack/react-image":
  - packages/react-image/**/*
documentation:
  - websites/documentation/**/*
  - "**/*.md"
eslint:
  - configs/eslint-config/**/*
tsconfig:
  - configs/tsconfig/**/*
  - tsconfig.json
dependencies:
  - pnpm*.yaml
  - package*.json
github:
  - .github/**/*

refactor: move root test file extractColors
  packages/image/src/extractColors.test.ts
Labels: @fepack/image

chore: describe test name change (extractColors function -> extractColors)
  packages/image/src/extractColors.test.ts
Labels: @fepack/image

rename: .test.ts -> .spec.ts
  packages/image/src/extractColors.spec.ts
Labels: @fepack/image

chore(eslint): eslint warn arrow-body-style
  configs/eslint-config-js/noimport.js
  packages/image/src/extractColors.ts
Labels: @fepack/image

chore(eslint): eslint warn arrow-body-style (#41)
  configs/eslint-config-js/noimport.js
  packages/image/src/extractColors.ts
Labels: @fepack/image

feat(image): change extractColors to extractRGBAs
  configs/eslint-config-js/noimport.js
  packages/image/src/extractColors.spec.ts
  packages/image/src/extractColors.ts
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/index.ts
Labels: @fepack/image

feat(image): change extractColors to extractRGBAs (#42)
  configs/eslint-config-js/noimport.js
  packages/image/src/extractColors.spec.ts
  packages/image/src/extractColors.ts
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/index.ts
Labels: @fepack/image

Update .changeset/fuzzy-impalas-applaud.md
  .changeset/fuzzy-impalas-applaud.md
Labels: documentation

feat(image): add extractColors (#33)
  .changeset/fuzzy-impalas-applaud.md
  configs/eslint-config-js/noimport.js
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/index.ts
Labels: @fepack/image, documentation

chore: version packages
  .changeset/fuzzy-impalas-applaud.md
  packages/image/CHANGELOG.md
  packages/image/package.json
Labels: @fepack/image, documentation

feat(image): add load to return image
  .changeset/config.json
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/index.ts
  packages/image/src/load.ts
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  pnpm-lock.yaml
  turbo.json
  websites/demo-react-image-next/package.json
  websites/demo-react-image-next/src/app/load/page.tsx
Labels: @fepack/image, @fepack/react-image, dependencies

test(load): update test code for load
  packages/image/src/load.spec.ts
Labels: @fepack/image

chore: update changeset config
  .changeset/config.json
Labels: none

Create brave-timers-lick.md
  .changeset/brave-timers-lick.md
Labels: documentation

chore: update demo
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
Labels: none

chore: update
  websites/demo-react-image-next/src/app/load/page.tsx
Labels: none

Update packages/image/src/load.ts
  packages/image/src/load.ts
Labels: @fepack/image

chore(demo-image): update
  websites/demo-image/src/main.ts
Labels: none

chore: update
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
Labels: none

chore: update
  packages/react-image/src/Load.ts
Labels: @fepack/react-image

Update packages/react-image/src/Load.ts
  packages/react-image/src/Load.ts
Labels: @fepack/react-image

chore: update
  packages/react-image/src/Load.ts
Labels: @fepack/react-image

refactor: loadStateGot to loadState
  packages/react-image/src/Load.ts
Labels: @fepack/react-image

feat(image): add LoadClient
  packages/image/.eslintrc.cjs
  packages/image/src/LoadClient.ts
  packages/image/src/index.ts
  packages/react-image/src/Load.ts
Labels: @fepack/image, @fepack/react-image

feat(react-image): add all public apis of @fepack/image
  packages/react-image/package.json
  packages/react-image/src/index.ts
  pnpm-lock.yaml
Labels: @fepack/react-image, dependencies

Update .changeset/brave-timers-lick.md
  .changeset/brave-timers-lick.md
Labels: documentation

feat(image): add load to return image (#44)
  .changeset/brave-timers-lick.md
  .changeset/config.json
  packages/image/.eslintrc.cjs
  packages/image/src/LoadClient.ts
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/index.ts
  packages/image/src/load.spec.ts
  packages/image/src/load.ts
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  packages/react-image/src/index.ts
  pnpm-lock.yaml
  turbo.json
  websites/demo-image/src/main.ts
  websites/demo-react-image-next/package.json
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
Labels: @fepack/image, @fepack/react-image, documentation, dependencies

chore: version packages
  .changeset/brave-timers-lick.md
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  pnpm-lock.yaml
  websites/demo-react-image-next/CHANGELOG.md
  websites/demo-react-image-next/package.json
Labels: @fepack/image, @fepack/react-image, documentation, dependencies

fix(react-image): dependency version definitely
  packages/react-image/package.json
Labels: @fepack/react-image

Create honest-boats-smile.md
  .changeset/honest-boats-smile.md
Labels: documentation

chore: update
  pnpm-lock.yaml
Labels: dependencies

fix(react-image): dependency @fepack/image version definitely (#46)
  .changeset/honest-boats-smile.md
  packages/react-image/package.json
  pnpm-lock.yaml
Labels: @fepack/react-image, documentation, dependencies

chore: version packages
  .changeset/honest-boats-smile.md
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  pnpm-lock.yaml
  websites/demo-react-image-next/CHANGELOG.md
  websites/demo-react-image-next/package.json
Labels: @fepack/image, @fepack/react-image, documentation, dependencies

refactor: WebP feature detection using the load utility
  packages/image/src/checkWebPSupport.ts
Labels: @fepack/image

Create twenty-swans-complain.md
  .changeset/twenty-swans-complain.md
Labels: documentation

refactor: build process to use tsup instead of esbuild
  packages/image/esbuild.config.js
  packages/image/package.json
  packages/image/tsconfig.json
  packages/image/tsup.config.ts
  pnpm-lock.yaml
Labels: @fepack/image, dependencies

chore: .test.ts -> .spec.ts
  packages/image/src/checkWebPSupport.spec.ts
Labels: @fepack/image

Create beige-eyes-brake.md
  .changeset/beige-eyes-brake.md
Labels: documentation

Create CNAME
  CNAME
Labels: none

refactor: WebP feature detection using the load utility (#48)
  .changeset/twenty-swans-complain.md
  packages/image/src/checkWebPSupport.spec.ts
  packages/image/src/checkWebPSupport.ts
Labels: @fepack/image, documentation
