Repository fepack/image, changes with the labels that .github/labeler.yml gives for each.
All labels: @fepack/image, @fepack/react-image, documentation, eslint, tsconfig, dependencies, github

.github/labeler.yml:

"@fepack/image":
  - packages/image/**/*
"@fepack/react-image":
  - packages/react-image/**/*
documentation:
  - websites/documentation/**/*
  - "**/*.md"
eslint:
  - configs/eslint-config/**/*
tsconfig:
  - configs/tsconfig/**/*
  - tsconfig.json
dependencies:
  - pnpm*.yaml
  - package*.json
github:
  - .github/**/*

chore: update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
  package.json
  packages/image/package.json
  packages/image/tsup.config.ts
  packages/react-image/package.json
  packages/react-image/test.setup.ts
  packages/react-image/tsup.config.ts
  packages/react-image/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: @fepack/image, @fepack/react-image, dependencies, github

chore: update
  .changeset/config.json
  configs/eslint-config-js/CHANGELOG.md
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/CHANGELOG.md
  configs/eslint-config-ts/package.json
  configs/eslint-config/CHANGELOG.md
  configs/eslint-config/package.json
  websites/demo-react-image-next/CHANGELOG.md
  websites/demo-react-image-next/package.json
Labels: documentation, eslint

fix: load import path
  packages/image/src/checkWebPSupport.ts
Labels: @fepack/image

fix: load import path
  packages/image/src/checkWebPSupport.ts
Labels: @fepack/image

docs: README
  README.md
  packages/image/README.md
  packages/react-image/README.md
Labels: @fepack/image, @fepack/react-image, documentation

Create dull-hairs-play.md
  .changeset/dull-hairs-play.md
Labels: documentation

refactor: Build System - Switch from esbuild to tsup (#49)
  .changeset/beige-eyes-brake.md
  .changeset/config.json
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
  configs/eslint-config-js/CHANGELOG.md
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/CHANGELOG.md
  configs/eslint-config-ts/package.json
  configs/eslint-config/CHANGELOG.md
  configs/eslint-config/package.json
  package.json
  packages/image/esbuild.config.js
  packages/image/package.json
  packages/image/src/checkWebPSupport.ts
  packages/image/tsconfig.json
  packages/image/tsup.config.ts
  packages/react-image/package.json
  packages/react-image/test.setup.ts
  packages/react-image/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
  websites/demo-react-image-next/CHANGELOG.md
  websites/demo-react-image-next/package.json
Labels: @fepack/image, @fepack/react-image, documentation, eslint, dependencies, github

chore: version packages
  .changeset/beige-eyes-brake.md
  .changeset/twenty-swans-complain.md
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  pnpm-lock.yaml
  websites/demo-react-image-next/package.json
Labels: @fepack/image, @fepack/react-image, documentation, dependencies

docs: README with Information on @fepack/image and @fepack/react-image (#51)
  .changeset/dull-hairs-play.md
  README.md
  packages/image/README.md
  packages/react-image/README.md
Labels: @fepack/image, @fepack/react-image, documentation

chore: version packages
  .changeset/dull-hairs-play.md
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  pnpm-lock.yaml
  websites/demo-react-image-next/package.json
Labels: @fepack/image, @fepack/react-image, documentation, dependencies

ci(eslint): add eslint-plugin-jsdoc
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Labels: dependencies

chore: update
  configs/eslint-config-ts/noimport.js
Labels: none

ci(eslint): add eslint-plugin-jsdoc (#53)
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Labels: dependencies

chore: add tables hompage, module
  packages/image/package.json
Labels: @fepack/image

refactor: update JSDoc annotations in image library
  packages/image/src/detect.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/load.ts
Labels: @fepack/image

Create red-llamas-protect.md
  .changeset/red-llamas-protect.md
Labels: documentation

refactor(image): JSDoc Annotations Update (#54)
  .changeset/red-llamas-protect.md
  packages/image/package.json
  packages/image/src/detect.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/load.ts
Labels: @fepack/image, documentation

chore: version packages
  .changeset/red-llamas-protect.md
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  pnpm-lock.yaml
  websites/demo-react-image-next/package.json
Labels: @fepack/image, @fepack/react-image, documentation, dependencies

fix(react-image): support under react 18
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  pnpm-lock.yaml
Labels: @fepack/react-image, dependencies

Create selfish-pears-act.md
  .changeset/selfish-pears-act.md
Labels: documentation

fix(react-image): support under react 18 (#57)
  .changeset/selfish-pears-act.md
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  pnpm-lock.yaml
Labels: @fepack/react-image, documentation, dependencies

chore: version packages
  .changeset/selfish-pears-act.md
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  pnpm-lock.yaml
  websites/demo-react-image-next/package.json
Labels: @fepack/image, @fepack/react-image, documentation, dependencies

fix(react-image): change Load to return loaded HTMLImageElement
  packages/image/src/LoadClient.ts
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  pnpm-lock.yaml
  websites/demo-react-image-next/public/images/test.png
  websites/demo-react-image-next/src/app/page.tsx
Labels: @fepack/image, @fepack/react-image, dependencies

chore: update
  packages/react-image/src/Load.ts
  websites/demo-react-image-next/src/app/page.tsx
Labels: @fepack/react-image

Create khaki-trees-try.md
  .changeset/khaki-trees-try.md
Labels: documentation

Create neat-trains-speak.md
  .changeset/neat-trains-speak.md
Labels: documentation

Create dependabot.yml
  .github/dependabot.yml
Labels: github

chore: update
  .github/workflows/ci.yml
  packages/image/src/load.spec.ts
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
Labels: @fepack/image, github

chore: update
  packages/image/src/load.spec.ts
Labels: @fepack/image

chore: update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
Labels: github

chore: update
  package.json
  packages/image/package.json
  pnpm-lock.yaml
Labels: @fepack/image, dependencies

chore: update
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
Labels: github

fix(react-image): change Load to return loaded HTMLImageElement (#61)
  .changeset/khaki-trees-try.md
  .changeset/neat-trains-speak.md
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  package.json
  packages/image/package.json
  packages/image/src/LoadClient.ts
  packages/image/src/load.spec.ts
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  pnpm-lock.yaml
  websites/demo-react-image-next/public/images/test.png
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
Labels: @fepack/image, @fepack/react-image, documentation, dependencies, github

Create dependabot.yml (#62)
  .github/dependabot.yml
Labels: github

feat: add unique color option to extractRGBAs
  packages/image/src/extractRGBAs.ts
Labels: @fepack/image

fix: applyQuality function boundary
  packages/image/src/extractRGBAs.ts
Labels: @fepack/image

Create two-ladybugs-joke.md
  .changeset/two-ladybugs-joke.md
Labels: documentation
