Repository fepack/image, pull requests merged in 2023-09, with the labels that each got.

#10 refactor: update issue and PR templates for English localization
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#9 feat: automatic PR labeling using actions/labeler@v4
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github

#13 feat(@fepack/react-image): initialization
  .changeset/odd-rockets-push.md
  .github/workflows/ci.yml
  package.json
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  packages/react-image/src/index.ts
  packages/react-image/tsconfig.json
  packages/react-image/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
  websites/demo-image/package.json
  websites/demo-react-image-next/.gitignore
  websites/demo-react-image-next/next.config.js
  websites/demo-react-image-next/package.json
  websites/demo-react-image-next/src/app/global.css
  websites/demo-react-image-next/src/app/layout.tsx
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
  websites/demo-react-image-next/src/app/providers.tsx
  websites/demo-react-image-next/src/components/uis/index.tsx
  websites/demo-react-image-next/tsconfig.json
Labels: dependencies

#17 feat: template to new beta format
  .changeset/giant-pumpkins-film.md
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  packages/image/package.json
  pnpm-lock.yaml
Labels: @fepack/image, dependencies

#22 feat: eslint to fepack/image project
  .changeset/quick-boats-stare.md
  .eslintignore
  configs/eslint-config-js/.eslintrc.cjs
  configs/eslint-config-js/javascript.js
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/.eslintrc.cjs
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config-ts/typescript.js
  configs/eslint-config/.eslintrc.cjs
  configs/eslint-config/README.md
  configs/eslint-config/index.js
  configs/eslint-config/package.json
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
  configs/eslint-config/react.js
  configs/tsconfig/README.md
  configs/tsconfig/base.json
  configs/tsconfig/nextjs.json
  configs/tsconfig/package.json
  configs/tsconfig/react-library.json
  package.json
  packages/image/.eslintrc.cjs
  packages/image/package.json
  packages/image/tsconfig.json
  packages/react-image/.eslintrc.cjs
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  packages/react-image/tsup.config.ts
  pnpm-lock.yaml
  websites/demo-image/.eslintrc.cjs
  websites/demo-image/package.json
  websites/demo-image/src/main.ts
  websites/demo-react-image-next/.eslintrc.cjs
  websites/demo-react-image-next/package.json
  websites/demo-react-image-next/src/app/layout.tsx
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
Labels: documentation, @fepack/image, eslint, tsconfig, dependencies, @fepack/react-image

#24 feat: utility for MIME type detection (detect func)
  .changeset/stale-bulldogs-report.md
  .changeset/sweet-gifts-grow.md
  packages/image/package.json
  packages/image/src/__test__/detect.test.ts
  packages/image/src/detect.ts
  packages/image/src/index.ts
  pnpm-lock.yaml
Labels: @fepack/image, dependencies

#28 refactor: remove duplicate packages and refine return types
  .changeset/slimy-buttons-beam.md
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  packages/image/src/checkWebPSupport.ts
  pnpm-lock.yaml
Labels: @fepack/image, eslint, dependencies

#30 refactor: convert func to arrow
  .changeset/red-poets-dream.md
  .eslintignore
  codecov.yml
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  packages/image/package.json
  packages/image/src/checkWebPSupport.ts
  packages/image/src/detect.ts
  packages/image/src/index.ts
  packages/image/src/load.ts
  pnpm-lock.yaml
Labels: @fepack/image, dependencies

#32 test(image): add load test case
  .changeset/silly-drinks-ring.md
  packages/image/src/__test__/load.spec.ts
Labels: @fepack/image

#37 docs(README): Add Documentation
  README.md
Labels: documentation

#39 fix(github): labeler config pattern
  .github/labeler.yml
Labels: github

#41 chore(eslint): eslint warn arrow-body-style
  configs/eslint-config-js/noimport.js
  packages/image/src/extractColors.ts
Labels: @fepack/image

#42 feat(image): change extractColors to extractRGBAs
  configs/eslint-config-js/noimport.js
  packages/image/src/extractColors.spec.ts
  packages/image/src/extractColors.ts
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/index.ts
Labels: @fepack/image

#33 feat(image): add extractRGBAs
  .changeset/fuzzy-impalas-applaud.md
  configs/eslint-config-js/noimport.js
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/index.ts
Labels: @fepack/image

#44 feat(image, react-image): add `LoadClient`, update `load` can return image, export all public apis of @fepack/image in @fepack/react-image
  .changeset/brave-timers-lick.md
  .changeset/config.json
  packages/image/.eslintrc.cjs
  packages/image/src/LoadClient.ts
  packages/image/src/extractRGBAs.spec.ts
  packages/image/src/index.ts
  packages/image/src/load.spec.ts
  packages/image/src/load.ts
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  packages/react-image/src/index.ts
  pnpm-lock.yaml
  turbo.json
  websites/demo-image/src/main.ts
  websites/demo-react-image-next/package.json
  websites/demo-react-image-next/src/app/load/page.tsx
  websites/demo-react-image-next/src/app/page.tsx
Labels: @fepack/image, dependencies, @fepack/react-image

#46 fix(react-image): dependency @fepack/image version definitely
  .changeset/honest-boats-smile.md
  packages/react-image/package.json
  pnpm-lock.yaml
Labels: dependencies, @fepack/react-image

#48 refactor: WebP feature detection using the load utility
  .changeset/twenty-swans-complain.md
  packages/image/src/checkWebPSupport.spec.ts
  packages/image/src/checkWebPSupport.ts
Labels: @fepack/image

#51 docs: README with Information on @fepack/image and @fepack/react-image
  .changeset/dull-hairs-play.md
  README.md
  packages/image/README.md
  packages/react-image/README.md
Labels: documentation, @fepack/image, @fepack/react-image

#53 ci(eslint): add eslint-plugin-jsdoc
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  pnpm-lock.yaml
Labels: dependencies

#54 refactor(image): JSDoc Annotations Update
  .changeset/red-llamas-protect.md
  packages/image/package.json
  packages/image/src/detect.ts
  packages/image/src/extractRGBAs.ts
  packages/image/src/load.ts
Labels: @fepack/image

#57 fix(react-image): support under react 18
  .changeset/selfish-pears-act.md
  packages/react-image/package.json
  packages/react-image/src/Load.ts
  pnpm-lock.yaml
Labels: dependencies, @fepack/react-image
